
body {
    background-color: black;
}

h1{
    color: rgb(139, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    text-decoration: underline solid;
    text-decoration-style: double ;
}



*{
    margin: 0;
    padding: 0;

}

nav {
    background-color: aliceblue;
    padding: 20px;
    border: 1px solid white;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    
}

nav > a {
    color: rgb(139, 0, 0) ;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    border: 1px solid rgb(139, 0, 0);
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.text1 {
    color: white;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 35px;
    text-indent: 10px;
    
}

.text2 {
    color: white;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-align: center;
    word-spacing: 15px;
}

.text3 {
    color: white;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 35px;
    
}

.lista1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 60px;
    padding-top: 50px;
    font-size: larger;
    list-style: circle;
    border: 1px solid rgb(139, 0, 0);
    margin-top: 40px;
    
}

form {
    color: white;
    margin: 0 auto;
    width: 400px;

    padding: 1em;
    border: 1px solid white;
    border-radius: 1em;
    text-align: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 80px;
}

.form_camp {
    list-style: none;
    padding: 0;
    margin: 0;
}



label {
    color: rgb(139, 0, 0);
    display: inline-block;
    width: 80px;
    height: 50px;
    text-align: right;
}

table {
    margin-top: 70px;
    padding: 30px;
}

.subtitulo {
    color: rgb(139, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

tr, td {
    text-align: center;
    padding: 15px;
}